<h1><%= link_to("#{l(:label_operation)} - #{@operation.to_s}", operation_url(@operation)) %></h1>

<p><%= l(:text_user_wrote, :value => h(@comment.author)) %></p>

<%= textilizable @comment, :comments, :only_path => false %>
