app
config
config.ru
CONTRIBUTING.md
db
doc
extra
files
Gemfile
Gemfile.lock
lib
log
public
Rakefile
README.rdoc
script
test
tmp
vendor
.bundle
.hgignore

plugins
!plugins/redmine_cms
!plugins/redmine_contacts
!plugins/redmine_contacts_invoices
!plugins/redmine_favorite_projects
!plugins/redmine_finance
!plugins/redmine_issue_checklist
!plugins/redmine_people
!plugins/redmine_products
!plugins/redmine_questions
!plugins/redmine_tags
!plugins/redmine_zenedit

public
!public/themes/a1
!public/themes/circle
!public/themes/coffee
!public/themes/highrise
!public/themes/redminecrm