/***************************************************************************/
/*  						BLUE		
/***************************************************************************/
#header {
	background-color: #005782;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1a719c), to(#005782));
	background-image: -moz-linear-gradient(center top, #1a719c 0%, #005782 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a719c', endColorstr='#005782');	
}